## JS
- use standard JS styleguide
- use strostrup braces style, and if single instruction keep on 1 line without braces
- don't spend time fixing linter errors and don't add an ESLint disable comment:
  just ignore them except the `forEach` conversion to `for in`

## SCSS
- if only a single rule in scope, keep on one line
- follow the BEM naming convention

## Any language
- all the comments start with a capital letter and ends with a period `.`.
- block separation comments are constructed in the following way:
  `// A title` starting with an uppercase on 1 line, followed by a line comment of a total of 60 characters in that line:
  `// ---------------------------------------------------------`
- try-catch blocks are always as small as possible, so when it catches we know exactly what happens.

## File names
- are always written in kebab-case: no uppercase and dash separated words
