:root {
  // Market status colors.
  --market-premarket-color: #ff8c00;
  --market-open-color: #22c55e;
  --market-afterhours-color: #ec4899;
  --market-overnight-color: #3b82f6;
  --market-closed-color: #6b7280;

  &[data-theme="dark"] .w-app {
    --w-base-bg-color: #0d1117;
    --bg-gradient-stop1: #161B22;
    --bg-gradient-stop2: var(--w-base-bg-color);
    --w-glass-bg-color: #f0f8ff05;
    --nyse-color: #116c65;
    --nasdaq-color: #1f507b;
    --other-se-color: #2a5d23;
  }
  &[data-theme="light"] .w-app {
    --bg-gradient-stop1: #00ccff12;
    --bg-gradient-stop2: var(--w-base-bg-color);
    --w-glass-bg-color: #c7faff05;
    --nyse-color: #a3ded9;
    --nasdaq-color: #bbd9f3;
    --other-se-color: #e4ffe0;
  }

  .glass--bg {background: var(--w-glass-bg-color);}
}

.w-app {
  background-image: radial-gradient(circle at top, var(--bg-gradient-stop1), var(--bg-gradient-stop2));
  min-height: 100vh;

  a {color: inherit;}
}

.gradient-card {
  position: relative;
  box-shadow: 0 0 12px color-mix(in srgb, var(--w-base-bg-color) 100%, transparent);
  border-radius: 12px;

  &__wrap {
    position: relative;
    transition: 0.3s;
    border-radius: 11px;
    background: color-mix(in srgb, var(--w-contrast-bg-color) 5%, transparent);
    overflow: hidden;
    padding: 1em;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      inset: 1px;
      background: var(--w-base-bg-color) radial-gradient(circle at 90% 90%, #2c789a30, #ffffff08);
      border-radius: inherit;
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      z-index: -2;
      transform: translate(-50%, -50%) rotate(0deg) scale(1.07);
      aspect-ratio: 1;
      border-radius: 100%;
      background: conic-gradient(from 0deg, #333 20%, rgba(87, 143, 255, 0.7) 25%, hsl(220, 100%, 80%) 35%, rgba(87, 143, 255, 0.4666666667) 45%, #333 50%, #333 70%, rgba(0, 255, 195, 0.4666666667) 75%, hsl(166, 100%, 70%) 85%, rgba(0, 255, 195, 0.4666666667) 90%, #333 95%);
      animation: rotate 8s linear infinite;
      animation-play-state: paused;
      opacity: 0;
      transition: 0.3s;
    }
  }

  &__wrap:hover {
    transform: scale(1.025);

    &:after {animation-play-state: running;opacity: 1;}
  }
}

.glass-box {
  border: 1px solid color-mix(in srgb, var(--w-contrast-bg-color) 8%, var(--w-base-bg-color));
  background: var(--w-glass-bg-color) radial-gradient(20rem circle at 90% 10%, #2c789b1f, #ffffff00);
  box-shadow: 0 0 12px color-mix(in srgb, var(--w-base-bg-color) 100%, transparent);
  border-radius: 12px;
}

.market-premarket {color: var(--market-premarket-color);}
.market-afterhours {color: var(--market-afterhours-color);}
.market-overnight {color: var(--market-overnight-color);}
.market-open {color: var(--market-open-color);}
.market-closed {color: var(--market-closed-color);}

.hover-underline {
  transition: color 0.25s;

  &:hover {
    color: var(--w-primary-color);
    text-decoration: underline;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.07);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.07);
  }
}
